/* src/components/Header.css */
.header-container {
  background: linear-gradient(to right, #a0c4ff, #bdb2ff);
  /* Màu nền gradient từ trái sang phải */
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border-bottom: 5px solid #0288d1; */
  /* Đường viền dưới cùng */
}

.header-title h1 {
  color: #002776;
  /* Màu chữ xanh đậm */
  font-family: 'Arial', sans-serif;
  text-align: center;
  font-size: 24px;
  margin: 0;
}

.header-author p {
  color: #37474f;
  /* Màu chữ xám */
  font-family: 'Arial', sans-serif;
  font-size: 14px;
  margin: 0;
}

/*loggin*/
.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #d0cfcf;
}

.h-custom {
  height: calc(100% - 73px);
}

@media (max-width: 450px) {
  .h-custom {
    height: 100%;
  }
}

/* homepage.css */

.homepage-container {
  text-align: center;
  padding: 100px;
}

.homepage-image {
  max-width: 200%;
  height: auto;
  margin-top: 20px;
  border: 2px solid #ccc;
  border-radius: 8px;
}

h2 {
  font-family: 'Arial', sans-serif;
  padding-top: 20px;
}

h4 {
  font-family: 'Arial', sans-serif;
  padding-left: 30px;
  color: #002776;
}

.container-h3 {
  color: #002776;
}

/* table  */

.table-bordered {
  border-collapse: collapse;
  width: 70%;
  border: 1px solid #232222; /* Đường viền ngoài cho bảng */
}

.table-bordered th, .table-bordered td {
  border: 1px solid #232222; /* Đường viền cho các ô */
  padding: 8px;
  text-align: left;
}

.table-bordered th {
  background-color: #131313;
  color: #111111;
  font-weight: bold;
}

.table-bordered thead th {
  border-top: 2px solid #232222; /* Đường viền trên cùng của bảng tiêu đề */
}

.table-bordered tr {
  border-bottom: 1px solid #232222;
}

.table-bordered tr:last-child {
  border-bottom: 1px solid #232222;
}

table {
  width: 100%; /* Đảm bảo bảng không vượt quá chiều rộng của container */
}


.custom-select {
  color: black; /* Thay đổi màu chữ cho các thẻ option trong thẻ select có lớp custom-select */
}



 /* trang nhận diện */

.image-preview-container {
  margin-top: 0px;
  margin-left: 10px;
  text-align: center;
  width: 90%;
  max-width: 400px;
  height: 250px;
  border: 2px solid #ddd;
  /* padding: 10px; */
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-preview {
  max-width: 100%;
  max-height: 100%;
  border-radius: 5px;
}

.placeholder {
  color: #888;
}


/* Khung crop ảnh biển số */
.fixed-frame {
  width: 150px; /* Chiều rộng khung */
  height: 120px; /* Chiều cao khung */
  border: 1px solid #393838; /* Đường viền khung */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f9f9f9; /* Màu nền nhạt */
  margin-top: 10px;
  margin-left: 20px;
}

.frame-licenseplate {
  width: 200px; /* Chiều rộng khung */
  height: 50px; /* Chiều cao khung */
  border: 1px solid #393838; /* Đường viền khung */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f9f9f9; /* Màu nền nhạt */
  margin-top: 5px;
  margin-left: 20px;
}

.fixed-frame img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; /* Đảm bảo ảnh được hiển thị đầy đủ trong khung */
}

.license-plate-container {
  display: flex;           /* Sắp xếp các phần tử con theo hàng ngang */
  align-items: center;      /* Căn giữa theo trục dọc */
  gap: 10px;                /* Khoảng cách giữa các phần tử */
}


.frame-image {
  width: 295px; /* Chiều rộng khung */
  height: 221px; /* Chiều cao khung */
  border: 1px solid #393838; /* Đường viền khung */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f9f9f9; /* Màu nền nhạt */

}


/*frame ảnh đối chiếu */
.fixed-frame1 {
  width: 130px; /* Chiều rộng khung */
  height: 100px; /* Chiều cao khung */
  border: 1px solid #393838; /* Đường viền khung */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f9f9f9; /* Màu nền nhạt */
  /* margin-top: 10px;
  margin-left: 20px; */
}


.fixed-image {
  max-width: 100%; /* Prevent the image from exceeding the frame width */
  max-height: 100%; /* Prevent the image from exceeding the frame height */
  object-fit: contain; /* Maintain aspect ratio */
}